:root {
  --accent-color: #ff6c00;
  --main-color: #555555;
  --secondary-color: #303030;
  --primary-white-color: #ffffff;
  --additional-color: rgba(157, 164, 189, 0.6);
  --additional-text-color: #9da4bd;
  --accent-bg-color: #f7f7f7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
body {
  color: var(--main-color);

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* background: #111319; */
}
ul,
li,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
}
.section {
  padding-bottom: 130px;
  padding-top: 130px;
}
.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.pceudo {
  display: flex;
  align-items: center;
}
.pceudo::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 1px;
  background: #000;
  margin-right: 20px;
}

/* header */
.header {
  position: fixed;
  width: 100%;

  z-index: 2;
}
.logo {
  padding: 10px 0;
}

.nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: var(--primary-white-color);
  padding: 25px 0;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link-tel:hover,
.contacts-link-tel:focus {
  color: var(--accent-color);
}
.nav-item + .nav-item {
  margin-left: 40px;
}
.contacts-link-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: var(--primary-white-color);
  text-transform: uppercase;
}
.contacts-link.btn {
  color: var(--primary-white-color);
  margin-left: 40px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.contacts-list {
  display: flex;
  margin-left: 322px;
}

/* hero */
.hero {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;

  padding-top: 100px;

  background-image: linear-gradient(
      to right,
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url('../img/bg-header.jpg');

  background-size: 1125px;

  background-repeat: no-repeat;

  background-position: right;

  position: relative;
}

/* .hero::before {
  display: inline-block;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1125px;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(25, 28, 38, 0.2),
    rgba(25, 28, 38, 0.2)
  );
} */
.hero-box {
  padding-bottom: 40px;
}
.hero-wrap {
  padding-left: 200px;
}
.hero-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 142px;
  margin-bottom: 20px;
}
.hero-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 20px;

  color: var(--primary-white-color);
}
.hero-text {
  color: var(--additional-text-color);
  margin-bottom: 142px;
}
.slider {
  display: flex;
  justify-content: flex-end;
}
.slider-btn {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  letter-spacing: 0.1em;
  color: var(--additional-color);
  padding-bottom: 8px;
  border-bottom: 1px solid var(--additional-color);
}
.slider-btn:hover,
.slider-btn:focus {
  color: var(--primary-white-color);
}
.slider-list + .slider-list {
  margin-left: 26px;
}
.hero-media.pceudo {
  position: absolute;
  transform: rotate(-90deg);
  left: -2%;
  bottom: 21%;
}
.hero-media {
  display: flex;
  /* position: absolute;
  transform: rotate(-90deg);
  left: 0;
  bottom: 0; */
}

.hero-media-list + .hero-media-list {
  margin-left: 40px;
}
.hero-media-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  color: var(--secondary-color);
}
.hero-media-link:hover,
.hero-media-link:focus {
  color: var(--accent-color);
}

/* about us */
.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--secondary-color);

  margin-bottom: 20px;
}
.title {
  font-family: 'Raleway', sans-serif;

  font-size: 42px;
  line-height: 1.166;
  letter-spacing: 0.05em;
  color: var(--secondary-color);
  margin-bottom: 20px;
}
.description {
  margin-bottom: 20px;
}
.text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}
.btn {
  display: inline-block;
  width: 160px;
  color: var(--secondary-color);
  border: 1px solid var(--accent-color);
  border-radius: 25px;

  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;

  text-transform: uppercase;
  padding: 12px 20px;
  text-align: center;
}
.btn:hover,
.btn:focus {
  background: var(--accent-color);
}

.about-picture {
  display: flex;
  margin-right: 64px;
}
.about-picture li:not(:last-child) {
  margin-right: 30px;
}
.about-wrap {
  display: flex;
}

/* price */
.price {
  position: relative;
  background: #111319;
}
.price::before {
  display: inline-block;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/fon-price.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.2;
  pointer-events: none;
}
.price-title {
  color: var(--primary-white-color);
}
.price-btn {
  color: var(--primary-white-color);
}

/* advantages */
.advantages {
  display: flex;
  justify-content: space-between;
  padding-left: 115px;
  padding-right: 115px;
}
.advantages-list {
  display: flex;

  flex-wrap: wrap;
  margin-right: 130px;
}

.advantages-item {
  color: var(--secondary-color);
  text-align: center;
  width: 170px;
  height: 133px;
  background: var(--accent-bg-color);
  padding: 20px 24px;
}
.advantages-item:last-child {
  padding: 20px;
}
.advantages-item:nth-child(odd) {
  margin-right: 30px;
  margin-bottom: 30px;
}
.advantages-item:nth-child(even) {
  margin-top: 30px;
}
.advantages-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.357;

  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages-plus {
  font-weight: 600;
  font-size: 16px;

  line-height: 1.375;
  color: var(--accent-color);
  text-align: center;
}
.advantages-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
}

/* master */
.masters {
  background: var(--accent-bg-color);
}
.masters-list {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.master-list {
  display: flex;
  justify-content: center;
}
.master-pick {
  margin-bottom: 30px;
}
.master-name {
  margin-bottom: 8px;
}
.master-do {
  font-size: 14px;
  line-height: 1.357;

  color: var(--accent-color);
  margin-bottom: 30px;
}

.master-item + .master-item {
  margin-left: 10px;
}

.master-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: var(--primary-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.master-link:hover,
.master-link:focus {
  fill: var(--accent-color);
}

/* works */
.works {
  margin-bottom: 44px;
}
.works-list {
  display: flex;
  justify-content: space-between;
}
/* footer */
.footer-box {
  display: flex;
  justify-content: space-between;
}
.media {
  display: flex;
}
.media li {
  margin-left: 40px;
}
.media-link {
  color: var(--secondary-color);
}
/* footer */
.footer {
  background: var(--accent-bg-color);
  padding: 58px 0;
}
